---
layout: null
sitemap:
  exclude: true
---

@import "main.scss";

code {
  background: _palette(border-bg);
  border-radius: _size(border-radius);
  border: solid 2px _palette(border);
  font-family: _font(family-fixed);
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}

pre {
	-webkit-overflow-scrolling: touch;
	font-family: _font(family-fixed);
	font-size: 0.9em;
	margin: 0 0 _size(element-margin) 0;

	code {
		display: block;
		line-height: 1.75em;
		padding: 1em 1.5em;
		overflow-x: auto;
	}
}

.article{
  ol, ul{
    padding-left: 2em;
  }
  ol{
    list-style: hiragana-iroha;
  }
  ul{
    list-style-type: disc;
  }
}
