---
layout: null
sitemap:
  exclude: true
---

@import "main.scss";

code {
  font-size: large;
  font-family: 'Monaco', monospace;
  padding: inherit;
  margin: auto;
}

pre code{
  line-height: inherit;
}

.article {
  font-family: 'Quattrocento', serif;
  p {
    font-size: larger;
  }

  ol,
  ul {
    padding-left: 2em;
  }

  ol {
    list-style: katakana-iroha;
  }

  ul {
    list-style: circle;
  }
}
