---
layout: null
sitemap:
  exclude: true
---

@import "main.scss";

code {
  font-size: medium;
}

.article {
  p {
    font-size: medium;
  }

  ol,
  ul {
    padding-left: 2em;
  }

  ol {
    list-style: katakana-iroha;
  }

  ul {
    list-style: circle;
  }
}
