---
layout: default
---

<article class="box post post-excerpt">

    <header>
        <h2>{{ page.title }}</h2>

        <p>{{ page.excerpt | remove: '
            <p>' | remove: '</p>' }} </p>
    </header>

    <div class="info">
        <span class="date">
        <span class="month">{{ page.date | date: '%b' }}</span><span class="day"> {{ page.date | date: '%d' }}</span>
        <span class="year">, {{ page.date | date: '%Y' }}</span>
        </span>

        <ul class="stats">
            <li><a href="{{site.url}}{{page.url}}#disqus_thread" class="icon fa-comment">0</a></li>
            <li><a href="{{site.url}}{{page.url}}" class="icon fa-book">{{page.content | number_of_words }}</a></li>
        </ul>
    </div>

    <div class="article">
        {{ content }}
    </div>


</article>

{% include disqus.html %}
